<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--
    正常情况，需要通过javaagent启动应用，实现无侵入的traceId获取。
    不过这样就增加了运行项目的难度。
    所以我们现在 替换掉其中的某些实现，去掉某些功能，方便启动。
     -->
    <property name="BASE_PATH" value="${user.home}/logs"/>
    <!--    <springProperty scope="context" name="BASE_PATH" source="logging.path" defaultValue="${user.home}/logs"/>-->

    <!-- CONSOLE -->
    <property name="CONSOLE_PATTERN"
              value="%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS})|%tid|%highlight(%-5p|%c|%M|%L)|%t| %m%n"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.tuya.iot.suite.web.util.log.TraceIdPatternLogbackLayout">
            <Pattern>${CONSOLE_PATTERN}</Pattern>
            </layout>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <!-- FILE -->
    <property name="FILE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS}|%tid|%-5p|%c|%M|%L|%t| %m%n"/>
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>       <!-- 匹配该级别及以上 -->
            <onMismatch>DENY</onMismatch>   <!-- 不匹配该级别及以下 -->
        </filter>
        <file>${BASE_PATH}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${BASE_PATH}/debug_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>1</maxHistory>
            <maxFileSize>300MB</maxFileSize>
            <totalSizeCap>300MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
<!--            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">-->
            <layout class="com.tuya.iot.suite.web.util.log.TraceIdPatternLogbackLayout">
                <pattern>${FILE_PATTERN}</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${BASE_PATH}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${BASE_PATH}/info_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>800MB</maxFileSize>
            <totalSizeCap>6GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
<!--            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">-->

            <pattern>${FILE_PATTERN}</pattern>
            <!--<layout class="com.tuya.iot.suite.web.util.log.TraceIdPatternLogbackLayout">
                <pattern>${FILE_PATTERN}</pattern>
            </layout>-->
        </encoder>
    </appender>

    <appender name="WARN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>       <!-- 匹配该级别及以上 -->
            <onMismatch>DENY</onMismatch>   <!-- 不匹配该级别及以下 -->
        </filter>
        <file>${BASE_PATH}/warn.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${BASE_PATH}/warn_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <maxFileSize>800MB</maxFileSize>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
<!--            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">-->
            <layout class="com.tuya.iot.suite.web.util.log.TraceIdPatternLogbackLayout">
                <pattern>${FILE_PATTERN}</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${BASE_PATH}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${BASE_PATH}/error_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>15</maxHistory>
            <maxFileSize>800MB</maxFileSize>
            <totalSizeCap>6GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
<!--            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">-->
            <layout class="com.tuya.iot.suite.web.util.log.TraceIdPatternLogbackLayout">
                <pattern>${FILE_PATTERN}</pattern>
            </layout>
        </encoder>
    </appender>


    <!-- 异步输出 -->
    <appender name="ASYNC_DEBUG_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>512</queueSize>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="DEBUG_FILE"/>
    </appender>

    <appender name="ASYNC_INFO_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="INFO_FILE"/>
    </appender>

    <appender name="ASYNC_WARN_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="WARN_FILE"/>
    </appender>

    <appender name="ASYNC_ERROR_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="ERROR_FILE"/>
    </appender>

    <logger name="com.tuya.connector" level="DEBUG"></logger>

    <root level="INFO">
        <!-- CONSOLE 和  ASYNC_DEBUG_FILE 仅限开发环境打开-->
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_DEBUG_FILE"/>
        <appender-ref ref="ASYNC_INFO_FILE"/>
        <appender-ref ref="ASYNC_WARN_FILE"/>
        <appender-ref ref="ASYNC_ERROR_FILE"/>
    </root>
</configuration>
